# ===================================================================
# tpRigToolkit-tools-romgenerator requirements file
# ===================================================================
tpRigToolkit-core